@model IEnumerable<NYFAJobs.ViewModels.ApplicationGroup>

@{
    ViewBag.Title = "Application Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Job Title
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @item.ApplicationCount
            </td>
        </tr>
    }
</table>